In [16]:
import numpy as np
import pandas as pd
import requests
from excel_to_df import excel_to_df

In [27]:
url = "https://apidojo-yahoo-finance-v1.p.rapidapi.com/stock/v2/get-financials"

querystring = {"symbol":"AAPL"}

headers = {
    'x-rapidapi-host': "apidojo-yahoo-finance-v1.p.rapidapi.com",
    'x-rapidapi-key': "ee394341bbmsh8c35e24e6eb2c23p1f49fcjsn8cf1179e5bce"
    }

response = requests.request("GET", url, headers=headers, params=querystring)
financials = response.json()

In [14]:
df_pl,df_cf,df_bs = excel_to_df('apple-y.xlsx')

In [17]:
df_cf.loc['Free Cash Flow'] = df_cf.loc['Cash from Operating Activities'] + df_cf.loc['Change in Fixed Assets & Intangibles']

In [18]:
df_cf = df_cf.reindex(columns=[*df_cf.columns.tolist()], fill_value=0)

In [19]:
df_cf

43,FY '10,FY '11,FY '12,FY '13,FY '14,FY '15,FY '16,FY '17,FY '18,FY '19
in million USD,,,,,,,,,,
Net Income/Starting Line,14013.0,25922.0,41733.0,37037.0,39510.0,53394.0,45687.0,48351.0,59531.0,55256.0
Depreciation & Amortization,1027.0,1814.0,3277.0,6757.0,7946.0,11257.0,10505.0,10157.0,10903.0,12547.0
Non-Cash Items,2319.0,4036.0,6145.0,3394.0,5210.0,5353.0,9634.0,10640.0,-27694.0,5076.0
Change in Working Capital,1236.0,5757.0,-299.0,6478.0,7047.0,11262.0,405.0,-4923.0,34694.0,-3488.0
Cash from Operating Activities,18595.0,37529.0,50856.0,53666.0,59713.0,81266.0,66231.0,64225.0,77434.0,69391.0
Change in Fixed Assets & Intangibles,-2121.0,-7452.0,-9402.0,-9076.0,-9813.0,-11488.0,-12734.0,-12451.0,-13313.0,-10495.0
Net Change in Long Term Investment,-11075.0,-32464.0,-38427.0,-24042.0,-9027.0,-44417.0,-32022.0,-33668.0,30492.0,56459.0
Net Cash From Acquisitions & Divestitures,-638.0,-244.0,-350.0,-496.0,-3765.0,-343.0,-297.0,-329.0,-721.0,-624.0
Other Investing Activities,-20.0,-259.0,-48.0,-160.0,26.0,-26.0,-924.0,2.0,-392.0,556.0
Cash from Investing Activities,-13854.0,-40419.0,-48227.0,-33774.0,-22579.0,-56274.0,-45977.0,-46446.0,16066.0,45896.0
Dividends Paid,0.0,0.0,-2488.0,-10564.0,-11126.0,-11561.0,-12150.0,-12769.0,-13712.0,-14119.0
Cash From (Repayment of) Debt,0.0,0.0,0.0,16896.0,18266.0,29305.0,22057.0,29014.0,432.0,-7819.0
Cash From (Repurchase of) Equity,912.0,831.0,665.0,-22330.0,-44270.0,-34710.0,-29227.0,-32345.0,-72069.0,-66116.0
Other Financing Activities,345.0,613.0,125.0,-381.0,-419.0,-750.0,-1570.0,-1874.0,-2527.0,-2922.0
Cash from Financing Activities,1257.0,1444.0,-1698.0,-16379.0,-37549.0,-17716.0,-20890.0,-17974.0,-87876.0,-90976.0
Net Changes in Cash,5998.0,-1446.0,931.0,3513.0,-415.0,7276.0,-636.0,-195.0,5624.0,24311.0
Free Cash Flow,16474.0,30077.0,41454.0,44590.0,49900.0,69778.0,53497.0,51774.0,64121.0,58896.0

In [20]:
df_cf.loc["FCFE/Net Income(%)"] = (df_cf.loc['Free Cash Flow'] / df_cf.loc['Net Income/Starting Line']) * 100

In [21]:
df_cf = df_cf.round(1)
df_cf

43,FY '10,FY '11,FY '12,FY '13,FY '14,FY '15,FY '16,FY '17,FY '18,FY '19
in million USD,,,,,,,,,,
Net Income/Starting Line,14013.0,25922.0,41733.0,37037.0,39510.0,53394.0,45687.0,48351.0,59531.0,55256.0
Depreciation & Amortization,1027.0,1814.0,3277.0,6757.0,7946.0,11257.0,10505.0,10157.0,10903.0,12547.0
Non-Cash Items,2319.0,4036.0,6145.0,3394.0,5210.0,5353.0,9634.0,10640.0,-27694.0,5076.0
Change in Working Capital,1236.0,5757.0,-299.0,6478.0,7047.0,11262.0,405.0,-4923.0,34694.0,-3488.0
Cash from Operating Activities,18595.0,37529.0,50856.0,53666.0,59713.0,81266.0,66231.0,64225.0,77434.0,69391.0
Change in Fixed Assets & Intangibles,-2121.0,-7452.0,-9402.0,-9076.0,-9813.0,-11488.0,-12734.0,-12451.0,-13313.0,-10495.0
Net Change in Long Term Investment,-11075.0,-32464.0,-38427.0,-24042.0,-9027.0,-44417.0,-32022.0,-33668.0,30492.0,56459.0
Net Cash From Acquisitions & Divestitures,-638.0,-244.0,-350.0,-496.0,-3765.0,-343.0,-297.0,-329.0,-721.0,-624.0
Other Investing Activities,-20.0,-259.0,-48.0,-160.0,26.0,-26.0,-924.0,2.0,-392.0,556.0
Cash from Investing Activities,-13854.0,-40419.0,-48227.0,-33774.0,-22579.0,-56274.0,-45977.0,-46446.0,16066.0,45896.0
Dividends Paid,0.0,0.0,-2488.0,-10564.0,-11126.0,-11561.0,-12150.0,-12769.0,-13712.0,-14119.0
Cash From (Repayment of) Debt,0.0,0.0,0.0,16896.0,18266.0,29305.0,22057.0,29014.0,432.0,-7819.0
Cash From (Repurchase of) Equity,912.0,831.0,665.0,-22330.0,-44270.0,-34710.0,-29227.0,-32345.0,-72069.0,-66116.0
Other Financing Activities,345.0,613.0,125.0,-381.0,-419.0,-750.0,-1570.0,-1874.0,-2527.0,-2922.0
Cash from Financing Activities,1257.0,1444.0,-1698.0,-16379.0,-37549.0,-17716.0,-20890.0,-17974.0,-87876.0,-90976.0
Net Changes in Cash,5998.0,-1446.0,931.0,3513.0,-415.0,7276.0,-636.0,-195.0,5624.0,24311.0
Free Cash Flow,16474.0,30077.0,41454.0,44590.0,49900.0,69778.0,53497.0,51774.0,64121.0,58896.0
FCFE/Net Income(%),117.6,116.0,99.3,120.4,126.3,130.7,117.1,107.1,107.7,106.6

In [22]:
cur_rev = df_pl.loc["Revenue"]
cur_rev

2
FY '10     65225.0
FY '11    108249.0
FY '12    156508.0
FY '13    170910.0
FY '14    182795.0
FY '15    233715.0
FY '16    215639.0
FY '17    229234.0
FY '18    265595.0
FY '19    260174.0
Name: Revenue, dtype: float64

In [23]:
rev_est = pd.Series([274860.0, 295930.0], index=["FY '20","FY '21"])

In [24]:
rev = cur_rev.append(rev_est)

In [25]:
pct_change = rev.pct_change()

In [26]:
pct_change[-2:].mean()

0.06655202336419264

In [27]:
rev

FY '10     65225.0
FY '11    108249.0
FY '12    156508.0
FY '13    170910.0
FY '14    182795.0
FY '15    233715.0
FY '16    215639.0
FY '17    229234.0
FY '18    265595.0
FY '19    260174.0
FY '20    274860.0
FY '21    295930.0
dtype: float64

In [28]:
fy22 = rev[-1] * (1 + pct_change[-2:].mean())
fy23 = fy22 * (1 + pct_change[-2:].mean())
rev_proj = pd.Series([fy22, fy23], index=["FY '22","FY '23"])
rev_proj

FY '22    315624.740274
FY '23    336630.205363
dtype: float64

In [29]:
rev_new = rev.append(rev_proj)
rev_new

FY '10     65225.000000
FY '11    108249.000000
FY '12    156508.000000
FY '13    170910.000000
FY '14    182795.000000
FY '15    233715.000000
FY '16    215639.000000
FY '17    229234.000000
FY '18    265595.000000
FY '19    260174.000000
FY '20    274860.000000
FY '21    295930.000000
FY '22    315624.740274
FY '23    336630.205363
dtype: float64

In [37]:
d = {'Revenue':rev_new, 'Net Income': df_cf.loc['Net Income/Starting Line'], 'Free Cash Flow': np.nan}
proj_df = pd.DataFrame(d)
income_statement_df = proj_df.T
income_statement_df

,FY '10,FY '11,FY '12,FY '13,FY '14,FY '15,FY '16,FY '17,FY '18,FY '19,FY '20,FY '21,FY '22,FY '23
Revenue,65225.0,108249.0,156508.0,170910.0,182795.0,233715.0,215639.0,229234.0,265595.0,260174.0,274860.0,295930.0,315624.740274,336630.205363
Net Income,14013.0,25922.0,41733.0,37037.0,39510.0,53394.0,45687.0,48351.0,59531.0,55256.0,NaN,NaN,NaN,NaN
Free Cash Flow,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
income_statement_df.loc['Net Income Margins'] = income_statement_df.loc['Net Income'] / income_statement_df.loc['Revenue']

In [18]:
income_statement_df.loc['Net Income Margins'].fillna(income_statement_df.loc['Net Income Margins'].mean(), inplace=True)

In [19]:
income_statement_df.loc['Net Income'].fillna(income_statement_df.loc['Revenue']*income_statement_df.loc['Net Income Margins'], inplace=True)

In [20]:
income_statement_df = income_statement_df.round(3)
income_statement_df

,FY '10,FY '11,FY '12,FY '13,FY '14,FY '15,FY '16,FY '17,FY '18,FY '19,FY '20,FY '21,FY '22,FY '23
Revenue,65225.000,108249.000,156508.000,170910.000,182795.000,233715.000,215639.000,229234.000,265595.000,260174.000,274860.000,295930.000,315624.740,336630.205
Net Income,14013.000,25922.000,41733.000,37037.000,39510.000,53394.000,45687.000,48351.000,59531.000,55256.000,61612.057,66335.066,70749.798,75458.341
Net Income Margins,0.215,0.239,0.267,0.217,0.216,0.228,0.212,0.211,0.224,0.212,0.224,0.224,0.224,0.224

In [21]:
income_statement_df.loc['Free Cash Flow'] = df_cf.loc['Free Cash Flow']
fcf_pct = df_cf.loc['FCFE/Net Income(%)'].mean()
income_statement_df.loc['Free Cash Flow'].fillna(income_statement_df.loc['Net Income'] * fcf_pct/100, inplace=True)

In [23]:
income_statement_df = income_statement_df.round(3)

In [24]:
income_statement_df

,FY '10,FY '11,FY '12,FY '13,FY '14,FY '15,FY '16,FY '17,FY '18,FY '19,FY '20,FY '21,FY '22,FY '23
Revenue,65225.000,108249.000,156508.000,170910.000,182795.000,233715.000,215639.000,229234.000,265595.000,260174.000,274860.000,295930.000,315624.740,336630.205
Net Income,14013.000,25922.000,41733.000,37037.000,39510.000,53394.000,45687.000,48351.000,59531.000,55256.000,61612.057,66335.066,70749.798,75458.341
Net Income Margins,0.215,0.239,0.267,0.217,0.216,0.228,0.212,0.211,0.224,0.212,0.224,0.224,0.224,0.224
Free Cash Flow,16474.000,30077.000,41454.000,44590.000,49900.000,69778.000,53497.000,51774.000,64121.000,58896.000,70779.931,76205.724,81277.368,86686.542

In [41]:
income_statement = financials['incomeStatementHistory']['incomeStatementHistory']
interest_expense = income_statement[0]['interestExpense']['longFmt']
interest_expense = int(interest_expense.replace(',',''))
adj_int_exp = interest_expense / 1000000
adj_int_exp

-3576.0

In [42]:
total_debt = (df_bs.loc['Long Term Debt'] + df_bs.loc['Short Term Debt'])[-1]
total_debt

108047.0

In [43]:
interest_debt_rate = abs(adj_int_exp) / total_debt
interest_debt_rate

0.033096707914148475

In [47]:
financials['incomeStatementHistory']['incomeStatementHistory'][0].keys()

dict_keys(['researchDevelopment', 'effectOfAccountingCharges', 'incomeBeforeTax', 'minorityInterest', 'netIncome', 'sellingGeneralAdministrative', 'grossProfit', 'ebit', 'endDate', 'operatingIncome', 'otherOperatingExpenses', 'interestExpense', 'extraordinaryItems', 'nonRecurring', 'otherItems', 'incomeTaxExpense', 'totalRevenue', 'totalOperatingExpenses', 'costOfRevenue', 'totalOtherIncomeExpenseNet', 'maxAge', 'discontinuedOperations', 'netIncomeFromContinuingOps', 'netIncomeApplicableToCommonShares'])

In [52]:
income_before_tax = financials['incomeStatementHistory']['incomeStatementHistory'][0]['incomeBeforeTax']['longFmt']
income_before_tax = int(income_before_tax.replace(',',''))
adj_inc_bef_tax = income_before_tax / 1000000
adj_inc_bef_tax

65737.0

In [55]:
income_tax_expense = financials['incomeStatementHistory']['incomeStatementHistory'][0]['incomeTaxExpense']['longFmt']
income_tax_expense = int(income_tax_expense.replace(',',''))
adj_inc_tax_exp = income_tax_expense / 1000000
adj_inc_tax_exp

10481.0

In [60]:
effective_tax_rate = adj_inc_tax_exp / adj_inc_bef_tax

In [62]:
tax_adjusted_cost_debt = (1 - effective_tax_rate) * interest_debt_rate
tax_adjusted_cost_debt

0.027819822816742293

In [63]:
# risk free rate

url = "https://apidojo-yahoo-finance-v1.p.rapidapi.com/market/get-summary"

querystring = {"region":"US","lang":"en"}

headers = {
    'x-rapidapi-host': "apidojo-yahoo-finance-v1.p.rapidapi.com",
    'x-rapidapi-key': "ee394341bbmsh8c35e24e6eb2c23p1f49fcjsn8cf1179e5bce"
    }

response = requests.request("GET", url, headers=headers, params=querystring)

ten_yr_bond = response.json()

In [69]:
risk_free_rate = float(ten_yr_bond['marketSummaryResponse']['result'][8]['regularMarketPrice']['fmt'])
risk_free_rate

1.781

In [39]:
# get beta of underlying

url = 'https://api.tdameritrade.com/v1/instruments'
params = {
    'apikey': 'KZECOOGWTHECBHB4PNZZM3S1GHKLNQS1',
    'symbol': 'AAPL',
    'projection': 'fundamental'
}

content = requests.get(url=url, params=params)
fundamentals = content.json()

In [76]:
beta = fundamentals['AAPL']['fundamental']['beta']

In [82]:
cap_asset_pm = tax_adjusted_cost_debt + beta*(0.10 - tax_adjusted_cost_debt)
cap_asset_pm

0.11691253731580913

In [85]:
# market & debt cap
market_cap = fundamentals['AAPL']['fundamental']['marketCap']
total = market_cap + total_debt

In [86]:
# weight of debt & equity
wd = total_debt / total
we = market_cap / total
wd, we

(0.0856936420769448, 0.9143063579230553)

In [87]:
wacc = (wd * tax_adjusted_cost_debt) + (we * cap_asset_pm)
wacc

0.10927785812786267

In [40]:
# shares outstanding
shares_out = fundamentals['AAPL']['fundamental']['sharesOutstanding']
shares_out

4443.265

In [96]:
dcf_val = income_statement_df.loc[['Free Cash Flow']]

In [110]:
term_val = (dcf_val.loc['Free Cash Flow', "FY '23"] * (1 + .025)) / (wacc - .025)
dcf_val['Terminal Value'] = term_val

In [120]:
discount_factor = (1+wacc)
dis_fac = [0,0,0,0,0,0,0,0,0,0,discount_factor**1,discount_factor**2,discount_factor**3,discount_factor**4,discount_factor**4]
dcf_val.loc['Discount Factor'] = dis_fac

In [121]:
dcf_val.loc['PV of Future Cash Flow'] = dcf_val.loc['Free Cash Flow'] / dcf_val.loc['Discount Factor']

In [128]:
dcf_val.replace([np.inf], 0, inplace=True)

In [131]:
dcf_val

,FY '10,FY '11,FY '12,FY '13,FY '14,FY '15,FY '16,FY '17,FY '18,FY '19,FY '20,FY '21,FY '22,FY '23,Terminal Value
Free Cash Flow,16474.0,30077.0,41454.0,44590.0,49900.0,69778.0,53497.0,51774.0,64121.0,58896.0,70779.931000,76205.724000,81277.368000,86686.542000,1.054295e+06
Discount Factor,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.109278,1.230497,1.364963,1.514124,1.514124e+00
PV of Future Cash Flow,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,63807.215191,61930.830632,59545.452315,57251.952431,6.963069e+05

In [132]:
todays_val = dcf_val.loc['PV of Future Cash Flow'].sum()
todays_val

938842.3162799424

In [133]:
fair_value = todays_val / shares_out
fair_value

211.29559373117343