In [1]:
import numpy as np
import pandas as pd
import requests
from excel_to_df import excel_to_df

In [2]:
url = "https://apidojo-yahoo-finance-v1.p.rapidapi.com/stock/v2/get-financials"

querystring = {"symbol":"AAPL"}

headers = {
    'x-rapidapi-host': "apidojo-yahoo-finance-v1.p.rapidapi.com",
    'x-rapidapi-key': "ee394341bbmsh8c35e24e6eb2c23p1f49fcjsn8cf1179e5bce"
    }

response = requests.request("GET", url, headers=headers, params=querystring)
financials = response.json()

In [91]:
# df_pl_fake,df_cf,df_bs = excel_to_df('apple-y.xlsx')
df_pl = pd.read_pickle('aapl_pl.pickle')
df_bs = pd.read_pickle('aapl_bs.pickle')
df_cf = pd.read_pickle('aapl_cf.pickle')

In [88]:
# df_cf.loc['Free Cash Flow'] = df_cf.loc['Operating Cash Flow'] + df_cf.loc['Capital Expenditure']
# fcf = df_cf.loc['Operating Cash Flow'] + df_cf.loc['Capital Expenditure']
# fcf

date
2009     8946.0
2010    16474.0
2011    30077.0
2012    41454.0
2013    44590.0
2014    49900.0
2015    69778.0
2016    53497.0
2017    51774.0
2018    64121.0
2019    58896.0
dtype: float64

In [92]:
df_cf = df_cf.reindex(columns=[*df_cf.columns.tolist()], fill_value=0)

In [93]:
df_cf

date,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
Acquisitions and disposals,0.0,-638.0,-244.0,-350.0,-496.0,-3765.0,-343.0,-297.0,-329.0,-721.0,-624.0
Capital Expenditure,-1213.0,-2121.0,-7452.0,-9402.0,-9076.0,-9813.0,-11488.0,-12734.0,-12451.0,-13313.0,-10495.0
Depreciation & Amortization,734.0,1027.0,1814.0,3277.0,6757.0,7946.0,11257.0,10505.0,10157.0,10903.0,12547.0
Dividend payments,0.0,0.0,0.0,-2488.0,-10564.0,-11126.0,-11561.0,-12150.0,-12769.0,-13712.0,-14119.0
Effect of forex changes on cash,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Financing Cash Flow,663.0,1257.0,1444.0,-1698.0,-16379.0,-37549.0,-17716.0,-20890.0,-17974.0,-87876.0,-90976.0
Free Cash Flow,8946.0,16474.0,30077.0,41454.0,44590.0,49900.0,69778.0,53497.0,51774.0,64121.0,58896.0
Investing Cash flow,-17434.0,-13854.0,-40419.0,-48227.0,-33774.0,-22579.0,-56274.0,-45977.0,-46446.0,16066.0,45896.0
Investment purchases and sales,-16046.0,-11075.0,-32464.0,-38427.0,-24042.0,-9027.0,-44417.0,-32022.0,-33542.0,30845.0,58093.0
Issuance (buybacks) of shares,475.0,912.0,831.0,665.0,-22330.0,-44270.0,-34710.0,-29227.0,-32345.0,-72069.0,-66116.0
Issuance (repayment) of debt,0.0,0.0,0.0,0.0,16896.0,18266.0,29305.0,22057.0,29014.0,432.0,-7819.0
Net Cash/Marketcap,0.0,0.0,0.0,0.0,0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0
Net cash flow / Change in cash,-6612.0,5998.0,-1446.0,931.0,3513.0,-415.0,7276.0,-636.0,-195.0,5624.0,24311.0
Operating Cash Flow,10159.0,18595.0,37529.0,50856.0,53666.0,59713.0,81266.0,66231.0,64225.0,77434.0,69391.0
Stock-based compensation,710.0,879.0,1168.0,1740.0,2253.0,2863.0,3586.0,4210.0,4840.0,5340.0,6068.0

In [94]:
df_cf.loc["FCFE/Net Income(%)"] = (df_cf.loc['Free Cash Flow'] / df_pl.loc['Consolidated Income']) * 100

In [95]:
df_cf = df_cf.round(1)
df_cf

date,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
Acquisitions and disposals,0.0,-638.0,-244.0,-350.0,-496.0,-3765.0,-343.0,-297.0,-329.0,-721.0,-624.0
Capital Expenditure,-1213.0,-2121.0,-7452.0,-9402.0,-9076.0,-9813.0,-11488.0,-12734.0,-12451.0,-13313.0,-10495.0
Depreciation & Amortization,734.0,1027.0,1814.0,3277.0,6757.0,7946.0,11257.0,10505.0,10157.0,10903.0,12547.0
Dividend payments,0.0,0.0,0.0,-2488.0,-10564.0,-11126.0,-11561.0,-12150.0,-12769.0,-13712.0,-14119.0
Effect of forex changes on cash,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Financing Cash Flow,663.0,1257.0,1444.0,-1698.0,-16379.0,-37549.0,-17716.0,-20890.0,-17974.0,-87876.0,-90976.0
Free Cash Flow,8946.0,16474.0,30077.0,41454.0,44590.0,49900.0,69778.0,53497.0,51774.0,64121.0,58896.0
Investing Cash flow,-17434.0,-13854.0,-40419.0,-48227.0,-33774.0,-22579.0,-56274.0,-45977.0,-46446.0,16066.0,45896.0
Investment purchases and sales,-16046.0,-11075.0,-32464.0,-38427.0,-24042.0,-9027.0,-44417.0,-32022.0,-33542.0,30845.0,58093.0
Issuance (buybacks) of shares,475.0,912.0,831.0,665.0,-22330.0,-44270.0,-34710.0,-29227.0,-32345.0,-72069.0,-66116.0
Issuance (repayment) of debt,0.0,0.0,0.0,0.0,16896.0,18266.0,29305.0,22057.0,29014.0,432.0,-7819.0
Net Cash/Marketcap,0.0,0.0,0.0,0.0,0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0
Net cash flow / Change in cash,-6612.0,5998.0,-1446.0,931.0,3513.0,-415.0,7276.0,-636.0,-195.0,5624.0,24311.0
Operating Cash Flow,10159.0,18595.0,37529.0,50856.0,53666.0,59713.0,81266.0,66231.0,64225.0,77434.0,69391.0
Stock-based compensation,710.0,879.0,1168.0,1740.0,2253.0,2863.0,3586.0,4210.0,4840.0,5340.0,6068.0
FCFE/Net Income(%),108.6,117.6,116.0,99.3,120.4,126.3,130.7,117.1,107.1,107.7,106.6

In [96]:
cur_rev = df_pl.loc["Revenue"]
cur_rev

date
2009     42905.0
2010     65225.0
2011    108249.0
2012    156508.0
2013    170910.0
2014    182795.0
2015    233715.0
2016    215639.0
2017    229234.0
2018    265595.0
2019    260174.0
Name: Revenue, dtype: float64

In [103]:
rev_est = pd.Series([274860.0, 295930.0], index=["2020","2021"])

In [104]:
rev = cur_rev.append(rev_est)

In [105]:
pct_change = rev.pct_change()

In [106]:
pct_change[-2:].mean()

0.06655202336419264

In [107]:
rev

2009     42905.0
2010     65225.0
2011    108249.0
2012    156508.0
2013    170910.0
2014    182795.0
2015    233715.0
2016    215639.0
2017    229234.0
2018    265595.0
2019    260174.0
2020    274860.0
2021    295930.0
dtype: float64

In [108]:
fy22 = rev[-1] * (1 + pct_change[-2:].mean())
fy23 = fy22 * (1 + pct_change[-2:].mean())
rev_proj = pd.Series([fy22, fy23], index=["FY '22","FY '23"])
rev_proj

FY '22    315624.740274
FY '23    336630.205363
dtype: float64

In [109]:
rev_new = rev.append(rev_proj)
rev_new

2009       42905.000000
2010       65225.000000
2011      108249.000000
2012      156508.000000
2013      170910.000000
2014      182795.000000
2015      233715.000000
2016      215639.000000
2017      229234.000000
2018      265595.000000
2019      260174.000000
2020      274860.000000
2021      295930.000000
FY '22    315624.740274
FY '23    336630.205363
dtype: float64

In [111]:
d = {'Revenue':rev_new, 'Net Income': df_pl.loc['Consolidated Income']}
proj_df = pd.DataFrame(d)
income_statement_df = proj_df.T
income_statement_df

,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,FY '22,FY '23
Revenue,42905.0,65225.0,108249.0,156508.0,170910.0,182795.0,233715.0,215639.0,229234.0,265595.0,260174.0,274860.0,295930.0,315624.740274,336630.205363
Net Income,8235.0,14013.0,25922.0,41733.0,37037.0,39510.0,53394.0,45687.0,48351.0,59531.0,55256.0,NaN,NaN,NaN,NaN

In [112]:
income_statement_df.loc['Net Income Margins'] = income_statement_df.loc['Net Income'] / income_statement_df.loc['Revenue']

In [113]:
income_statement_df.loc['Net Income Margins'].fillna(income_statement_df.loc['Net Income Margins'].mean(), inplace=True)

In [114]:
income_statement_df.loc['Net Income'].fillna(income_statement_df.loc['Revenue']*income_statement_df.loc['Net Income Margins'], inplace=True)

In [115]:
income_statement_df = income_statement_df.round(3)
income_statement_df

,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,FY '22,FY '23
Revenue,42905.000,65225.000,108249.000,156508.000,170910.000,182795.000,233715.000,215639.000,229234.000,265595.000,260174.000,274860.000,295930.000,315624.740,336630.205
Net Income,8235.000,14013.000,25922.000,41733.000,37037.000,39510.000,53394.000,45687.000,48351.000,59531.000,55256.000,60806.910,65468.198,69825.239,74472.250
Net Income Margins,0.192,0.215,0.239,0.267,0.217,0.216,0.228,0.212,0.211,0.224,0.212,0.221,0.221,0.221,0.221

In [116]:
income_statement_df.loc['Free Cash Flow'] = df_cf.loc['Free Cash Flow']
fcf_pct = df_cf.loc['FCFE/Net Income(%)'].mean()
income_statement_df.loc['Free Cash Flow'].fillna(income_statement_df.loc['Net Income'] * fcf_pct/100, inplace=True)

In [117]:
income_statement_df = income_statement_df.round(3)

In [118]:
income_statement_df

,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,FY '22,FY '23
Revenue,42905.000,65225.000,108249.000,156508.000,170910.000,182795.000,233715.000,215639.000,229234.000,265595.000,260174.000,274860.000,295930.000,315624.740,336630.205
Net Income,8235.000,14013.000,25922.000,41733.000,37037.000,39510.000,53394.000,45687.000,48351.000,59531.000,55256.000,60806.910,65468.198,69825.239,74472.250
Net Income Margins,0.192,0.215,0.239,0.267,0.217,0.216,0.228,0.212,0.211,0.224,0.212,0.221,0.221,0.221,0.221
Free Cash Flow,8946.000,16474.000,30077.000,41454.000,44590.000,49900.000,69778.000,53497.000,51774.000,64121.000,58896.000,69507.826,74836.102,79816.596,85128.552

In [119]:
income_statement = financials['incomeStatementHistory']['incomeStatementHistory']
interest_expense = income_statement[0]['interestExpense']['longFmt']
interest_expense = int(interest_expense.replace(',',''))
adj_int_exp = interest_expense / 1000000
adj_int_exp

-3576.0

In [122]:
total_debt = (df_bs.loc['Long-term debt'] + df_bs.loc['Short-term debt'])[-1]
total_debt

108047.0

In [123]:
interest_debt_rate = abs(adj_int_exp) / total_debt
interest_debt_rate

0.033096707914148475

In [124]:
financials['incomeStatementHistory']['incomeStatementHistory'][0].keys()

dict_keys(['researchDevelopment', 'effectOfAccountingCharges', 'incomeBeforeTax', 'minorityInterest', 'netIncome', 'sellingGeneralAdministrative', 'grossProfit', 'ebit', 'endDate', 'operatingIncome', 'otherOperatingExpenses', 'interestExpense', 'extraordinaryItems', 'nonRecurring', 'otherItems', 'incomeTaxExpense', 'totalRevenue', 'totalOperatingExpenses', 'costOfRevenue', 'totalOtherIncomeExpenseNet', 'maxAge', 'discontinuedOperations', 'netIncomeFromContinuingOps', 'netIncomeApplicableToCommonShares'])

In [125]:
income_before_tax = financials['incomeStatementHistory']['incomeStatementHistory'][0]['incomeBeforeTax']['longFmt']
income_before_tax = int(income_before_tax.replace(',',''))
adj_inc_bef_tax = income_before_tax / 1000000
adj_inc_bef_tax

65737.0

In [126]:
income_tax_expense = financials['incomeStatementHistory']['incomeStatementHistory'][0]['incomeTaxExpense']['longFmt']
income_tax_expense = int(income_tax_expense.replace(',',''))
adj_inc_tax_exp = income_tax_expense / 1000000
adj_inc_tax_exp

10481.0

In [127]:
effective_tax_rate = adj_inc_tax_exp / adj_inc_bef_tax

In [128]:
tax_adjusted_cost_debt = (1 - effective_tax_rate) * interest_debt_rate
tax_adjusted_cost_debt

0.027819822816742293

In [129]:
# risk free rate

url = "https://apidojo-yahoo-finance-v1.p.rapidapi.com/market/get-summary"

querystring = {"region":"US","lang":"en"}

headers = {
    'x-rapidapi-host': "apidojo-yahoo-finance-v1.p.rapidapi.com",
    'x-rapidapi-key': "ee394341bbmsh8c35e24e6eb2c23p1f49fcjsn8cf1179e5bce"
    }

response = requests.request("GET", url, headers=headers, params=querystring)

ten_yr_bond = response.json()

In [130]:
risk_free_rate = float(ten_yr_bond['marketSummaryResponse']['result'][8]['regularMarketPrice']['fmt'])
risk_free_rate

1.814

In [131]:
# get beta of underlying

url = 'https://api.tdameritrade.com/v1/instruments'
params = {
    'apikey': 'KZECOOGWTHECBHB4PNZZM3S1GHKLNQS1',
    'symbol': 'AAPL',
    'projection': 'fundamental'
}

content = requests.get(url=url, params=params)
fundamentals = content.json()

In [132]:
beta = fundamentals['AAPL']['fundamental']['beta']

In [133]:
cap_asset_pm = tax_adjusted_cost_debt + beta*(0.10 - tax_adjusted_cost_debt)
cap_asset_pm

0.11648017805448141

In [134]:
# market & debt cap
market_cap = fundamentals['AAPL']['fundamental']['marketCap']
total = market_cap + total_debt

In [135]:
# weight of debt & equity
wd = total_debt / total
we = market_cap / total
wd, we

(0.08305078883145334, 0.9169492111685467)

In [136]:
wacc = (wd * tax_adjusted_cost_debt) + (we * cap_asset_pm)
wacc

0.10911686561391029

In [137]:
# shares outstanding
shares_out = fundamentals['AAPL']['fundamental']['sharesOutstanding']
shares_out

4443.265

In [138]:
dcf_val = income_statement_df.loc[['Free Cash Flow']]

In [139]:
term_val = (dcf_val.loc['Free Cash Flow', "FY '23"] * (1 + .025)) / (wacc - .025)
dcf_val['Terminal Value'] = term_val

In [140]:
discount_factor = (1+wacc)
dis_fac = [0,0,0,0,0,0,0,0,0,0,0,discount_factor**1,discount_factor**2,discount_factor**3,discount_factor**4,discount_factor**4]
dcf_val.loc['Discount Factor'] = dis_fac

In [141]:
dcf_val.loc['PV of Future Cash Flow'] = dcf_val.loc['Free Cash Flow'] / dcf_val.loc['Discount Factor']

In [142]:
dcf_val.replace([np.inf], 0, inplace=True)

In [143]:
dcf_val

,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,FY '22,FY '23,Terminal Value
Free Cash Flow,8946.0,16474.0,30077.0,41454.0,44590.0,49900.0,69778.0,53497.0,51774.0,64121.0,58896.0,69507.826000,74836.102000,79816.596000,85128.552000,1.037328e+06
Discount Factor,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.109117,1.230140,1.364369,1.513245,1.513245e+00
PV of Future Cash Flow,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,62669.523974,60835.424033,58500.728461,56255.632090,6.854989e+05

In [144]:
todays_val = dcf_val.loc['PV of Future Cash Flow'].sum()
todays_val

923760.2566140138

In [145]:
fair_value = todays_val / shares_out
fair_value

207.9012295269388